---
subcategory: "Getting Started"
page_title: "Example Usage"
description: |-
	Example of creating a Pull Zone

# Example Usage

## Basic Pull Zone Blocks

{{ tffile "examples/resources/pullzone_resource/minimal.tf" }}
